@media (max-width: 1370px) {
  #jm-allpage #jm-allpage-in .navigation-ms .dj-navigation .dj-play,
  #jm-allpage #jm-allpage-in .navigation-ms .dj-navigation .dj-pause,
  #jm-allpage #jm-allpage-in .navigation-ms .dj-navigation .dj-prev,
  #jm-allpage #jm-allpage-in .navigation-ms .dj-navigation .dj-next {
    display: none;
  }
}
@media (max-width: 1250px) {
  .jm-box .jm-box-space {
    padding: 25px;
  }
}
@media (max-width: 1100px) {
  #jm-allpage #jm-allpage-in .jm-custom-title {
    font-size: 25px;
  }
  #jm-allpage .dj-megamenu-override li.dj-up a.dj-up_a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 979px) {
  .jm-module-in {
    height: auto !important;
  }
  img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .btn {
    -webkit-appearance: none;
  }
  #jm-djmenu {
    text-align: center;
  }
  #jm-header-bg + #jm-header-content #jm-header-space {
    padding-left: 15px;
    padding-right: 15px;
  }
  #jm-top-bar .jm-module-raw:last-child:before {
    display: none;
  }
  #jm-back-top span {
    width: 40px;
    height: 40px;
  }
  .jm-module-in {
    height: auto !important;
  }
  .jm-social-title {
    display: block;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin: 0 0 10px;
    width: auto;
  }
}
@media (max-width: 767px) {
  input,
  select,
  textarea {
    max-width: 100%;
  }
  #jm-footer-left {
    padding-bottom: 10px;
  }
  #jm-footer-left,
  #jm-footer-right {
    text-align: center;
  }
  #jm-allpage #jm-allpage-in .jm-custom-title {
    font-size: 25px;
  }
  #jm-allpage .jm-box .jm-box-in {
    float: none;
    width: 100%;
  }
  #jm-top-bar #login-form .input-small {
    width: 90px;
  }
  #jm-allpage .search1-ms .dj_cf_search.dj_cf_search_horizontal .djseform_field {
    min-width: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
  #jm-allpage .search1-ms.category-ms .dj_cf_search form .search_cats {
    position: static;
    padding: 0;
    width: auto !important;
    margin: 20px 0 !important;
  }
  #jm-allpage .search1-ms.category-ms .dj_cf_search form .search_cats select {
    display: block !important;
    margin: 0;
    border: 1px solid #dddddd;
  }
  #jm-allpage .search1-ms.category-ms .dj_cf_search form .search_cats .chzn-container {
    display: none !important;
  }
  #jm-allpage .search1-ms.category-ms .dj_cf_search form .inputbox.first_input,
  #jm-allpage .search1-ms.category-ms .dj_cf_search form .inputbox.search-query {
    padding-left: 25px;
    padding-right: 85px;
  }
  html[dir='rtl'] #jm-allpage .search1-ms.category-ms .dj_cf_search form .inputbox.first_input,
  html[dir='rtl'] #jm-allpage .search1-ms.category-ms .dj_cf_search form .inputbox.search-query {
    padding-left: 85px;
    padding-right: 25px;
  }
  #jm-allpage .search2-ms .dj_cf_search.dj_cf_search_horizontal .djseform_field {
    min-width: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
  #jm-allpage .search2-ms.category-ms .dj_cf_search form .search_cats {
    position: static;
    padding: 0 25px;
    width: auto !important;
    margin: 20px 0 !important;
  }
  #jm-allpage .search2-ms.category-ms .dj_cf_search form .search_cats select {
    display: block !important;
    margin: 0;
    border: 1px solid #dddddd;
  }
  #jm-allpage .search2-ms.category-ms .dj_cf_search form .search_cats .chzn-container {
    display: none !important;
  }
  #jm-allpage .search2-ms.category-ms .dj_cf_search form .inputbox.first_input,
  #jm-allpage .search2-ms.category-ms .dj_cf_search form .inputbox.search-query {
    padding-left: 25px;
    padding-right: 25px;
  }
  .items-row {
    margin-bottom: 30px;
  }
  .items-row .item {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  input,
  select,
  textarea {
    width: 100%;
  }
  dl.tabs,
  .nav-tabs {
    display: block !important;
  }
  dl.tabs dt.tabs,
  .nav-tabs > li {
    float: none !important;
  }
  #jm-top-bar-mod .jm-module-raw {
    padding: 0;
  }
  #jm-top-bar .toggle-nav.menu {
    padding: 10px 0;
  }
  #jm-allpage #jm-allpage-in #jm-header-bg .jm-custom-title {
    display: none;
  }
}
@media (max-width: 979px) {
  .dj-slide-title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .dj-slide-description,
  .dj-slide-description p {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .dj-tabber .dj-tabs {
    display: none;
  }
  .dj-tabber .dj-slides {
    margin: 0 !important;
  }
  .dj-tabber .dj-tabber-in {
    min-height: 200px;
  }
  .dj-tabber .dj-navigation {
    display: none;
  }
}
@media (max-width: 320px) {
  .dj-slide-title,
  .nivo-controlNav,
  .dj-indicators,
  .navigation-container-custom,
  .dj-slide-description,
  .dj-slide-desc-text,
  .dj-slide-desc-bg {
    display: none !important;
  }
}
