#djext-top {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #393939;
	text-align: center;
	z-index: 99999;
	width: 100%;
	-webkit-transition: -webkit-transform 0.4s ease 50ms;
    -ms-transition: -ms-transform 0.4s ease 50ms;
	transition: transform 0.4s ease 50ms;
	-webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    font-family: Arial,Helvetica,sans-serif;
}

#djext-top.isbacktotop ~ div #jm-back-top {
	-webkit-transition: margin 0.4s ease 50ms;
    -ms-transition: margin 0.4s ease 50ms;
	transition: margin 0.4s ease 50ms;
	margin-bottom: 85px;
}

.djext-hide #djext-top.isbacktotop ~ div #jm-back-top {
	margin-bottom: 35px;
}

#djext-top[style="display:none;"].isbacktotop ~ div #jm-back-top {
	margin-bottom: 0 !important;
}

#djext-top ~ #jm-allpage {
	padding-bottom: 50px !important;
}

.djext-hide #djext-top ~ #jm-allpage {
	padding-bottom: 0px !important;
}

#djext-top[style="display:none;"] ~ #jm-allpage {
	padding-bottom: 0 !important;
}

.djext-hide #djext-top {
	position: fixed;
	left: 0;
	bottom: 0;
	-webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

#djext-top .djext-toggle {
	position: absolute;
	right: 0;
	top: -35px;
	display: block;
	width: 35px;
	height: 35px;
	background: #393939 url("button.png") no-repeat center center;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.4s ease 50ms, opacity 0.4s ease 50ms;
    -ms-transition: -ms-transform 0.4s ease 50ms, opacity 0.4s ease 50ms;
	transition: transform 0.4s ease 50ms, opacity 0.4s ease 50ms;
	-webkit-transform: perspective(400px) rotate(180deg);
    -ms-transform: perspective(400px) rotate(180deg);
    transform: perspective(400px) rotate(180deg);
}

.djext-hide #djext-top .djext-toggle {
	-webkit-transform: perspective(400px) rotate(0deg);
    -ms-transform: perspective(400px) rotate(0deg);
    transform: perspective(400px) rotate(0deg);
    opacity: 0.4;
}

#djext-top a.logo {
	float: left;
	padding: 14px 14px 16px;
}

@media (max-width: 767px) {
	#djext-top a.logo {
		max-width: 50%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}

#djext-top a.logo img {
	display: block;
}

#djext-top ul {
	float: right;
	list-style: none outside;
	margin: 0;
	padding: 0;
}

#djext-top ul li {
	list-style: none outside;
	border: 0;
	padding: 0;
	background: none;
	display: inline-block;
}

#djext-top > ul li a {
	border: 0;
	background: none;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	line-height: 50px;
	padding: 0 20px 0 0;
	text-decoration: none;
	outline: none;
}

#djext-top > ul li:hover > a {
	text-decoration: underline;
}

#djext-top > ul li.buy a {
	background: url("buy.png") no-repeat left 14px;
	padding: 0px 20px 0px 30px;
}

#djext-top > ul li.download a {
	background: url("download.png") no-repeat left 15px;
	padding: 0px 20px 0px 30px;
}

@media (max-width: 480px) {
	#djext-top > ul li a {
		padding: 0 10px 0 0;
	}
	#djext-top > ul li.buy a,
	#djext-top > ul li.download a { 
		padding: 0px 0 0px 30px;
		text-indent: -9999px;
		width: 0;
	}
}